<section id="about" class="features section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2 class="wow fadeInUp" data-wow-delay=".4s">About Us
                    </h2>
                    <p class="wow fadeInUp" data-wow-delay=".6s">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12">
                <!-- Start Single Feature -->
                <div class="single-feature wow fadeInUp" data-wow-delay=".2s">
                    <img src="images/about1.jpg" class="about-image" alt="About Image 1">
                    <h3 style="text-align: center;">What We Offer</h3>
                    <p>
                        <strong>Creative Excellence:</strong> From concept to execution, we prioritize creativity in everything we do.
                    </p>
                </div>
                <!-- End Single Feature -->
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <!-- Start Single Feature -->
                <div class="single-feature wow fadeInUp" data-wow-delay=".4s">
                    <img src="images/about2.jpeg" class="about-image" alt="About Image 1">
                    <h3 style="text-align: center;">Our Mission</h3>
                    <p>Our mission is to blend creativity with technical expertise to deliver innovative solutions that exceed expectations.
                    </p>
                </div>
                <!-- End Single Feature -->
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <!-- Start Single Feature -->
                <div class="single-feature wow fadeInUp" data-wow-delay=".6s">
                    <img src="images/about3.jpg" class="about-image" alt="About Image 1">
                    <h3 style="text-align: center;">Get in Touch</h3>
                    <p>Ready to take your digital presence to the next level?  discuss how we can help you achieve your business goals.</p>
                </div>
                <!-- End Single Feature -->
            </div>
        </div>
    </div>
</section>
<style>
    .about-image {
        height: 300px;
        /* Set a fixed height */
        width: 100%;
        /* Ensure images fill their container */
        object-fit: cover;
        /* Maintain aspect ratio and cover container */
        margin-bottom: 20px;
    }
    
</style>